li > b{
    color: blueviolet;
    font-size: 100px;
}
.odd{
    color: red;
}
.eve{
    color: blue;
    font-size: large;
    text-align: center;
}

.xxx{
    font-size: 30px;
    text-decoration: underline;
    
}
.block1{
    color: red;
}
.block2{
    color: green;
}
.block3{
    color: aqua;
}
.eee {
	font-size: 20px;
}
.zzz {
	font-size: 30px;
}
.ggg {
	font-size: 35px;
}
.eee,.zzz,.ggg{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2.header{
    font-size: 40px;
    color: red;
}
h3.header{
font-size: 30px;
color: brown;
}